<h1><%= @post.title %></h1>
<h2>Written by: <%= link_to @post.blogger.name, blogger_path%></h2>
<br/>
<%= @post.content%>
<h3>Click the link to be redirected to: <%= link_to @post.destination.name, destination_path%></h3>